[Unit]
Description=IA Training Worker
After=network.target ia-web.service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/miy_ai
Environment="PATH=/home/ubuntu/miy_ai/venv/bin"
ExecStart=/home/ubuntu/miy_ai/venv/bin/python entrenador_worker.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
